*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif, 
}


body{

    background-color: #FA8072;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#container{
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: rgb(255,182,193);
}
.totalCha{
    display: flex;
    justify-content: space-between;
    
}
#inputArea{
    width: 100%;
}

